<a href="https://colab.research.google.com/gist/singhsidhukuldeep/09cc7d1870f147dadfe053f140ad1c80/beginner-iteration-for-loops-9-may-2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>

![w1.gif]()

</center>

In [1]:
# range
for i in range(2,5):
    print(i)

2
3
4

In [ ]:
# range(end) >> 0,1,2, .... till end-1 # you did  not give step and step is 1 (default)
for i in range(5):
    print(i)

In [2]:
# range(start, end) >> start,start+1,start+2, .... till end-1 # you did  not give step and step is 1 (default)
for i in range(2,5):
    print(i)

2
3
4

In [3]:
# range(start, end, step) >> start,start+step,start+step+step, .... till end-1 
for i in range(3,15,2):
    print(i)

3
5
7
9
11
13

In [4]:
print(range(2,5))

range(2, 5)

In [5]:
print(range(5))

range(0, 5)

In [6]:
print(range(3,15,2))

range(3, 15, 2)

In [7]:
print(range(2.5,5.5)) # start and end cannot be float

TypeError: ignored

In [8]:
print(range(3,15,2.5))# step cannot be float

TypeError: ignored

In [9]:
print(range(3,15,0))

ValueError: ignored

In [10]:
for i in range(13,1,-2):
    print(i)

13
11
9
7
5
3

In [11]:
for i in range(13,1,-2):
    print(i, end= " ")

13 11 9 7 5 3

In [ ]:
# if you ever want to include last item in for loop using range
# range(start, end(end + step), step)

In [12]:
print(len(range(5)))

5

In [13]:
print(len(range(2,5)))

3

In [14]:
print(len(range(2,15,3)))

5

In [15]:
print(len(range(2,15,-3)))

0

In [18]:
print('RUNNING 🏃‍♂️💨')

for i in range(2,15,-3):
    print(i)
print('RAN 🤣')

RUNNING 🏃‍♂️💨
RAN 🤣

In [ ]:
'''
Question 1 - 
Print all integers from 1 to N using for loop. (N to be included)
Take N as input from the user.
'''
'''
Input is 4
Output will be 1 2 3 4 
'''

In [21]:
n = int(input())

for i in range(n):
    print(i+1, end = " ")

4
1 2 3 4

In [23]:
n = int(input())

for i in range(1,n+1):
    print(i, end = " ")
print("My for loop ended with i", i)

4
1 2 3 4 My for loop ended with i 4

In [ ]:
'''
Question 2 - 
Take N as input from the user.
Calculate the sum of all numbers from 1 to N (N is included).
ONLY USE for LOOP AND range
'''

In [25]:
# 1 get the input
n = int(input())

# 3 start the total with intital value as 0
total = 0

# 2 loop over the range
for i in range(1,n+1):
    print(i, total)
    # 4 update the total in the loop
    total = total +i


# 5 print the total
print('--------------------------')
print(total)

4
1 0
2 1
3 3
4 6
--------------------------
10

In [26]:
n = int(input())

total = 0

for i in range(1,n+1):
    total = total +i


print(total)

4
10

In [27]:
n = int(input())

total = 0

for i in range(1,n+1):
    total = total +i
    print(total)

print(total)

4
1
3
6
10
10

In [ ]:
'''
Question 3 - 
FACTORIAL ->
Take N an input from the user.
Calculate the product of all numbers from 1 to N (N is included).
'''
'''
1 > 1
2 > 2
3 > 6
4 > 24
'''

In [29]:
n = int(input())

factorial = 1

for i in range(1,n+1):
    factorial = factorial*i
print(factorial)

4
24

In [ ]:
# LOOP
# 1
# 2
# 3
# 4
# 5

# factorial start
# Factorial =1

# factoial update
# Factorial = Factorial *i

#                                Factorial *i= new factorial
# loop over 1, factotial will be 1*1=1
# loop over 2, factotial will be 1*2=2
# loop over 3, factotial will be 2*3=6
# loop over 4, factotial will be 6*4=24

In [ ]:
'''
Question 4 - 
Take N as input from the user.
Calculate the product of all even numbers between 1 and N. Both included.
'''

In [32]:
# soultion 2 (efficient)
n = int(input())

factorial = 1

for i in range(2,n+1,2):
    factorial = factorial*i
print(factorial)

6
48

In [31]:
# soultion 1 (in-efficient)
n = int(input())

factorial = 1

for i in range(1,n+1):
    if i%2==0:
        factorial = factorial*i
print(factorial)

6
48

In [ ]:
'''
Question 5 - 
Take start and end as input from the user.
Calculate the product of all even numbers between start and end.
Both included.

GIVEN - Both start and end will be greater than 0.
'''

In [36]:
# soultion 2 (efficient)
start = int(input())
n = int(input())

if start%2 == 0:
    new_start = start
else:
    new_start = start+1

factorial = 1
print('The number of times the loop will run is: ', len(range(new_start,n+1,2)))
for i in range(new_start,n+1,2):
    factorial = factorial*i
print(factorial)

5
10
The number of times the loop will run is:  3
480

In [35]:
# soultion 1 (in-efficient)
start = int(input())
n = int(input())

factorial = 1
print('The number of times the loop will run is: ', len(range(start,n+1)))
for i in range(start,n+1):
    if i%2==0:
        factorial = factorial*i
print(factorial)
# 5-10
# 5 6 7 8 9 10
# 6 * 8 * 10

5
10
The number of times the loop will run is:  6
480

In [ ]:
'''
Question 6 -
Print all the numbers from an input N to 1 in reverse order.
N > 1 -> Given
'''

In [38]:
n = int(input())

for i in range(n,0, -1):
    print(i, end = " ")

5
5 4 3 2 1

In [ ]:
'''
Question 7 -
Print all the numbers from an input N to 1 in reverse order.
>>   Without using a negative step/jump!
N > 1 -> Given
'''

In [39]:
n = int(input())
for i in range(n):
    print(n-i, end = " ")

5
5 4 3 2 1

In [40]:
n = int(input())
for i in range(-n,0):
    print(-i, end = " ")

5
5 4 3 2 1

In [42]:
# str are also iterable in python
name = 'Cristiano Ronaldo'
for i in name:
    print(i)

C
r
i
s
t
i
a
n
o

R
o
n
a
l
d
o

In [43]:
name = 'Cristiano Ronaldo'
print(len(name))

17