<a href="https://colab.research.google.com/gist/singhsidhukuldeep/57a2c06c6dd038dfa5f8a878edb8333f/beginner-number-systems-basic-maths-4th-may-2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = 59
print(a)

59

In [2]:
print(bin(59))

0b111011

In [5]:
b = 0b111011
print(b)

59

In [6]:
c = 111011
print(c)

111011

In [13]:
d = int('000000111011', 2)
print(d)

59

In [11]:
int('Ronaldo')

ValueError: ignored

In [10]:
int('Ronaldo',2)

ValueError: ignored

In [17]:
# Question: Given a positive integer number, find the digit at the unit place
num = int(input())
print(num%10)

123456
6

In [19]:
# Question: Given a positive integer number, find the digit at the 10th place
num = int(input())
num = num%100
print(num)
num = num//10
print(num)

123456
56
5

In [23]:
# nth digit
num = 123456
n=4
num = num%(10**n)
num = num//(10**(n-1))
print(num)

3