<a href="https://colab.research.google.com/gist/singhsidhukuldeep/ef5783d0e3399918f191d6889e93b807/beginner-pattern-printing-16th-may-2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>

<img class="img-fluid" src="https://64.media.tumblr.com/tumblr_m6usbsENB61rzlf5vo1_500.gif" alt="img-verification" width="200">

</center>

In [10]:
n = int(input())

for row in range(n): # going over all the rows one by one
    # print(row)
    for someRow in range(n): # a single row logic
        print('*', end="")
    print()

5
*****
*****
*****
*****
*****

In [ ]:
***** << 0
*****
***** <<
*****
*****

In [2]:
for someRow in range(n): # a single row logic
    print('*', end="")

*****

In [8]:
# a single row logic
print('*'*n)

**

In [9]:
n = int(input())

for row in range(n): # going over all the rows one by one
    # print(row)
    print('*'*n)# a single row logic

5
*****
*****
*****
*****
*****

In [5]:
print('ab'+'cd')

abcd

In [6]:
print('ab'*3) # b*4 = b+b+b+b

ababab

In [32]:
n = int(input())

for row in range(n): # going over all the rows one by one
    # print(row)
    for col in range(n): # a single row logic
        print('[row,col>>'+str(row)+','+str(col)+']', end="")
        # print()# new line everytime you complete a column
    print()# new line everytime you complete a row

5
[row,col>>0,0][row,col>>0,1][row,col>>0,2][row,col>>0,3][row,col>>0,4]
[row,col>>1,0][row,col>>1,1][row,col>>1,2][row,col>>1,3][row,col>>1,4]
[row,col>>2,0][row,col>>2,1][row,col>>2,2][row,col>>2,3][row,col>>2,4]
[row,col>>3,0][row,col>>3,1][row,col>>3,2][row,col>>3,3][row,col>>3,4]
[row,col>>4,0][row,col>>4,1][row,col>>4,2][row,col>>4,3][row,col>>4,4]

In [18]:
print('something', end="")# default end='\n'
print('more something')

somethingmore something

In [29]:
print(123,'abc')
print(345,'def')
# -- no code that can be written to go back to the first line and add 890

123 abc
345 def

In [31]:
print(123,'abc', 890)
print(345,'def')

123 abc 890
345 def

In [ ]:
'''
Ask the user to enter a number [+ive integer]
and print the foloowing pattern

*
**
***
****
*****

Here the user entered the number of rows they want eg in this case it is 5
'''

In [33]:
n = int(input())

for row in range(n):
    print('*'*(row+1))

5
*
**
***
****
*****

In [36]:
row = 4

print('*'*(row+1))

for j in range(row+1):
    print('*', end="")

*****
*****

In [38]:
n = int(input())

for row in range(n):
    for j in range(row+1):
        print('*', end="")
    print()

5
*
**
***
****
*****

In [ ]:
'''
Ask the user to enter a number [+ive integer]
and print the foloowing pattern

*****
****
***
**
*

Here the user entered the number of rows they want eg in this case it is 5
'''

In [39]:
n = int(input())

for row in range(n):
    print('*'*(n-row))

5
*****
****
***
**
*

In [41]:
n = 5
row = 2

print('*'*(n-row))

for j in range(n-row):
    print('*', end="")

***
***

In [42]:
n = int(input())

for row in range(n):
    for j in range(n-row):
        print('*', end="")
    print()

5
*****
****
***
**
*

In [43]:
for j in range(5):
    j-=1000
    print(j)

-1000
-999
-998
-997
-996

In [ ]:
'''
Ask the user to enter a number [+ive integer]
and print the foloowing pattern

    *
   **
  ***
 ****
*****

Here the user entered the number of rows they want eg in this case it is 5
'''

In [44]:
n = int(input())

for row in range(n):
    print(' '*(n-(row+1))    +    '*'*(row+1))

5
    *
   **
  ***
 ****
*****

In [46]:
n = 5
row = 2
print(' '*(n-(row+1))    +    '*'*(row+1))

# for loop for space
for j in range((n-(row+1))):
    print(' ', end="")
# for loop for *
for j in range(row+1):
    print('*', end="")

  ***
  ***

In [47]:
n = int(input())

for row in range(n):
    # print(' '*(n-(row+1))    +    '*'*(row+1))
    # for loop for space
    for j in range((n-(row+1))):
        print(' ', end="")
    # for loop for *
    for j in range(row+1):
        print('*', end="")
    print()

5
    *
   **
  ***
 ****
*****

In [48]:
n = int(input())

# using str multiplication
for row in range(n):
    print('*'*(n-row))

# using nested loops

for row in range(n):
    for j in range(n-row):
        print('*', end="")
    print()

3
***
**
*
***
**
*

In [ ]:
'''
Ask the user to enter a number [+ive integer]
and print the foloowing pattern

*****
 ****
  ***
   **
    *

Here the user entered the number of rows they want eg in this case it is 5
'''

In [49]:
n = int(input())

for row in range(n):
    print(' '*(row)    +    '*'*(n-row))

5
*****
 ****
  ***
   **
    *

In [54]:
n = 5
row =2
print(' '*(row)    +    '*'*(n-row))

# print row number of spaces together(in a single line) using a for loop?
for j in range(row):
    print(' ', end="")

# print (n-row) number of * together(in a single line) using a for loop?
for j in range((n-row)):
    print('*', end="")

  ***
  ***

In [56]:
n = int(input())

for row in range(n):
    # print(' '*(row)    +    '*'*(n-row))

    # print row number of spaces together(in a single line) using a for loop?
    for j in range(row):
        print(' ', end="")

    # print (n-row) number of * together(in a single line) using a for loop?
    for j in range((n-row)):
        print('*', end="")
    
    print()

5
*****
 ****
  ***
   **
    *

In [ ]:
'''
Ask the user to enter a number [+ive integer]
and print the foloowing pattern

*   1...row+1
*2  1...2
*2* 1....3
*2*4
*2*4*
*2*4*6

Here the user entered the number of rows they want eg in this case it is 6

For all the odd position, print '*'
for even positions print the number i.e j.
'''

In [62]:
# 3rd ver
n = int(input())
for rowNum in range(n):
    # print(rowNum)
    for j in range(1,rowNum+2):
        if j%2==0:
            print(j, end="")
        else:
            print('*', end="")
    print()

6
*
*2
*2*
*2*4
*2*4*
*2*4*6

In [61]:
# 2.3nd ver
n = int(input())
for rowNum in range(n):
    # print(rowNum)
    for j in range(1,rowNum+2):
        print(j, end="")
    print()

6
1
12
123
1234
12345
123456

In [64]:
# 2.2nd ver
n = int(input())
for rowNum in range(n):
    # print(rowNum)
    for j in range(0,rowNum+1):
        print(j, end="")
    print()

6
0
01
012
0123
01234
012345

In [63]:
# 2.1nd ver
n = int(input())
for rowNum in range(n):
    # print(rowNum)
    for j in range(0,rowNum):
        print(j, end="")
    print()

6

0
01
012
0123
01234

In [57]:
# 1st ver
n = int(input())
for rowNum in range(n):
    print(rowNum)

6
0
1
2
3
4
5

Problem Description

Take an integer N as input, print the corresponding Half Diamond pattern with 2*N - 1 rows.

For example if N = 5 then pattern will be like:
```
*
**
***
****
*****
****
***
**
*
```
NOTE: There should be no spaces after any `* `.

In [ ]:
*
**
***
****
*****

In [66]:
n = int(input())
# increasing stars
for i in range(n):
    print('*'*(i+1))
# decreasing stars
for i in range(n-1, 0,-1):
    print('*'*i)

5
*
**
***
****
*****
****
***
**
*

In [68]:
for i in range(5):
    print(i)
else: # this else will only run if the above loop completes that is it never breaks
    print('the loop completed')

0
1
2
3
4
the loop completed

In [69]:
for i in range(5):
    if i==3:
        break
    print(i)
else: # this else will only run if the above loop completes that is it never breaks
    print('the loop completed')

0
1
2

In [71]:
num = 1
while num<=5:
    print(num)
    num+=1
else:# this else will only run if the above loop completes that is it never breaks
    print('the above while loop broke when the condition given became false')

1
2
3
4
5
the above while loop broke when the condition given became false

In [72]:
num = 1
while num<=5:
    print(num)
    if num==3:
        break
    num+=1
else:# this else will only run if the above loop completes that is it never breaks
    print('the above while loop broke when the condition given became false')

1
2
3

In [74]:
n = int(input())
for i in range(1,n+1):
    for j in range(1, i+1):
        if j==i:
            print(j, end='')
        else:
            print(j, end=" ")
    print()

5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [75]:
N= int(input())
for i in range(1,N+1):
    print(1, end="")
    for j in range(2,i+1):
        print("", j, end="")
    print()

5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5