<a href="https://colab.research.google.com/gist/singhsidhukuldeep/746642ce57d1fd52e86641129cceae01/beginner-control-statements-2-29th-april-2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### RECAP

In [ ]:
# print('cat'=="dog') ‚ùå error quotes mis-match
print('cat'=="dog")

False

In [ ]:
print('dog'=="""dog""")

True

In [ ]:
print('dog'=="""dog
""")

False

In [ ]:
a = 6
a-=9 # a= a -9== a = 6-9= -3
# print(A) ‚ùå error, python is case sensitive i.e. a!=A
print(a)

-3

In [ ]:
if "abc": # truthy value of a non empty string is True
    print("I am inside a if statement")
else:
    print("I am inside a else statement")

I am inside a if statement

In [ ]:
if "": # truthy value of empty string is False ‚ù§
    print("I am inside a if statement")
else:
    print("I am inside a else statement")

I am inside a else statement

In [ ]:
if "False": # truthy value of a non empty string is True üíö
    print("I am inside a if statement")
else:
    print("I am inside a else statement")

I am inside a if statement

In [14]:
print("" == None)
print(type("") == type(None))
print(type(None))

False
<class 'NoneType'>

In [16]:
print(bool(""))
print(bool(" "))
print(bool("abc"))
print(bool(None))

False
True
True
False

In [17]:
print("" == None)
print(bool("") == bool(None))

False
True

In [19]:
print(9==9)
print(3**2==(-3)**2)
print(3==-3)

True
True
False

In [ ]:
# function(a) == function(b) it doesnot guarantee a!=b or a==b

In [21]:
print(True or False)
print((True and False) or False)
print(False or False)

True
False
False

In [24]:
## do once you are comfortable with 25th class
## can even ignore
print(print(True) or False)
output_print = print(True)
print(output_print)

True
False
True
None

In [25]:
print("""
Question 1Ô∏è‚É£
ask someone for their CTC (in LPA)
calculate their income-tax
‚Ä¢ 10% for <= 10 lpa
‚Ä¢ 20% for <= 15 lpa eg if your salary is 12 LPA== 10*(10/100) + 2*(20/100)
‚Ä¢ 30% for > 15lpa eg if your salary is 18 LPA== 10*(10/100) + 5*(20/100) + 3*(30/100)
""")

Question 1Ô∏è‚É£
ask someone for their CTC (in LPA)
calculate their income-tax
‚Ä¢ 10% for <= 10 lpa
‚Ä¢ 20% for <= 15 lpa eg if your salary is 12 LPA== 10*(10/100) + 2*(20/100)
‚Ä¢ 30% for > 15lpa eg if your salary is 18 LPA== 10*(10/100) + 5*(20/100) + 3*(30/100)

In [28]:
ctc = float(input())

if ctc<=10:
    print(ctc*(10/100))
elif ctc<=15:
    print(10*(10/100)+(ctc-10)*(20/100))
else: # ctc>15
    print(10*(10/100)+(5)*(20/100)+(ctc-10-5)*(30/100))

17.5
2.75

In [29]:
print("""
Question 2Ô∏è‚É£
ask someone for their city that they are planning to visit
print what mornument they should visit
if you do not know that city, say I don't know

‚Ä¢ Delhi -> Red fort
‚Ä¢ Agra -> Taj Mahal
‚Ä¢ Gurgaon -> Cyber hub
‚Ä¢ Mumbai -> Gateway
""")

Question 2Ô∏è‚É£
ask someone for their city that they are planning to visit
print what mornument they should visit
if you do not know that city, say I don't know

‚Ä¢ Delhi -> Red fort
‚Ä¢ Agra -> Taj Mahal
‚Ä¢ Gurgaon -> Cyber hub
‚Ä¢ Mumbai -> Gateway

In [32]:
city = input()
if city=='Delhi':
    print('Red fort')
elif city=='Agra':
    print('Taj Mahal')
elif city=='Gurgaon':
    print('Cyber hub')
elif city=='Mumbai':
    print('Gateway')
else:
    print("I don't know")

Bathinda
I don't know

In [ ]:
print("""
Question 3Ô∏è‚É£
ask someone for a integer
tell if the integer is even OR not
""")

In [ ]:
num = int(input())
if num%2==0:
    print('even')
else:
    print('odd')

In [33]:
print("""
ü§üHWü§ü
Check if a number is even or odd but you cannot use Modulo(%)?
""")

ü§üHWü§ü
Check if a number is even or odd but you cannot use Modulo(%)?

In [35]:
### INTERVIRE PLAYGROUND ###

In [36]:
print("""
Generate electricity bill using the following rate card.
Take units consumed as input -
If < 100 units -> Free
If >= 100 units and < 200 units -> Rs 2 per unit
If >= 200 units -> Rs 5 per unit
""")

Generate electricity bill using the following rate card.
Take units consumed as input -
If < 100 units -> Free
If >= 100 units and < 200 units -> Rs 2 per unit
If >= 200 units -> Rs 5 per unit

In [40]:
units = int(input())
if units<100: #is units less than 100 or not
    print(0)
elif units < 200:
    print(units*2)
else:
    print(units*5)

200
1000

In [ ]:
print("""
Take an amount as input from the user
You only have 200 and 500 Rs Notes in the ATM. For one transaction,
you can only dispatch notes of a single type.
Given the amount -
- "Dispatching Cash!" if it can be dispatched.
- "Denomination not available!" if it can not be
""")

In [44]:
amount = int(input())
if amount%200==0 or amount%500==0:
    print("Dispatching Cash!")
else:
    print("Denomination not available!")

700
Denomination not available!

In [45]:
print("""
Build a meter system for an auto. Take into two inputs.
Kilometers Travelled and Stall Time (in minutes). Rate List -
First 10 kms - Rs 10 per Km

Next 40 kms - Rs 9 per Km

Next 100 kms - Rs 8 per Km

Any leftover km count - Rs. 6 per Km

Rs 5 extra for every minute of Stall Time.
""")

Build a meter system for an auto. Take into two inputs.
Kilometers Travelled and Stall Time (in minutes). Rate List -
First 10 kms - Rs 10 per Km

Next 40 kms - Rs 9 per Km

Next 100 kms - Rs 8 per Km

Any leftover km count - Rs. 6 per Km

Rs 5 extra for every minute of Stall Time.

In [46]:
#1 get all the inputs
kms = int(input())
stall = int(input())
#2 calculate fare based on kms
if kms<=10:
    kms_fare = kms*10
elif kms<=10+40:
    kms_fare = 10*10   +   (kms-10)*9
elif kms<=10+40+100:
    kms_fare = 10*10  +  40*9  + (kms-50)*8
else:
    kms_fare = 10*10  +  40*9   + (100)*8 +   (kms-10-40-100)*6
#3 calculate fare based on wait time
wait_fare = stall*5
#4 add all the fares
fare = kms_fare+wait_fare
print(fare)

75
5
685

In [ ]:
print("""
Feedback System - Take string feedback from a user.
Now,
if any the feedback is provided,
print("Thank you for the feedback").


If feedback is "Super", "Great", "Fantastic", "Awesome",
print("Thank you for the kind words!")
""")

In [50]:
feedback = input()
if feedback=="Super" or feedback=="Great" or feedback=="Fantastic" or feedback=="Awesome":
    print("Thank you for the kind words!")
else:
    print("Thank you for the feedback")

Fantastic
Thank you for the kind words!

In [51]:
feedback = "it's great"
print("great" in feedback.lower())

True

In [53]:
print("""
-------------------HW------------------------
Take in three inputs from a user which are marks in english, maths and science.
Assign streams according to the following criteria.
if science > 90 or marks in all(individually) are greater than 75 -> Science
if marks in all are greater than 60 and less than 75 -> Commerce
if marks in any are less than 60 -> Humanities
---------------------------------------------

""")

-------------------HW------------------------
Take in three inputs from a user which are marks in english, maths and science.
Assign streams according to the following criteria.
if science > 90 or marks in all(individually) are greater than 75 -> Science
if marks in all are greater than 60 and less than 75 -> Commerce
if marks in any are less than 60 -> Humanities
---------------------------------------------