<a href="https://colab.research.google.com/gist/singhsidhukuldeep/b34486caec9b35612d2fe19d1029d72c/beginner-iteration-while-loops-6-may-2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>

![images.png]()

</center>

In [4]:
# shouting the number

num = 1 

while num <=5:
    print(num)
    num = num+1

print("At the end of the loop num was:", num)

1
2
3
4
5
At the end of the loop num was: 6

In [ ]:
while <codition>:
    # some logic
    # that will keep on repeating
    # till the <condition> is True

In [ ]:
# shouting the number

num = 1 # intitial value

while num <=5: # condition
    print(num)
    num = num+1

print("At the end of the loop num was:", num)

In [5]:
num = 1 # intitial value

while num <=5: # condition
    print(num)
    num = num+1

1
2
3
4
5

In [6]:
num = 2 # intitial value

while num <=5: # condition
    print(num)
    num = num+1

# 2345

2
3
4
5

In [7]:
num = 2 # intitial value

while num <=4: # condition
    print(num)
    num = num+1

# 234

2
3
4

In [8]:
num = 2 # intitial value

while num <=4: # condition
    print(num)
    num = num+2

# 24

2
4

In [ ]:
'''
Question 1 - 
Take an integer input from the user and print alternate numbers from from 1 to input.
Input will be a positive number > 1.

INPUT - 7
OUTPUT - 1 3 5 7
'''

In [9]:
num = int(input())
start = 1
while start<=num:
    print(start)
    start = start+2

7
1
3
5
7

In [ ]:
'''
Question 1.1 - 
Take an input from the user and print alternate numbers from from 1 to input.
If number is > 1 -> Print as required.
Else print "Number is smaller than 1!"

INPUT - 7
OUTPUT - 1 3 5 7

INPUT - -5
OUTPUT - Number is smaller than 1!
'''

In [11]:
num = int(input())
if num>=1:
    start = 1
    while start<=num:
        print(start)
        start = start+2
else:
    print("Number is smaller than 1!")

-5
Number is smaller than 1!

In [ ]:
'''
Question 2 - 
Take two integer inputs from user for start and end integer values.
Print every third number starting at start till end. (BOTH START AND END TO BE INCLUDED.)

Input : 
2
30

2 5 8 11 14 17 20 23 26 29 
'''

In [13]:
start = int(input())
end = int(input())

while start<=end:
    print(start, end = "  ")
    start = start +3

2
30
2  5  8  11  14  17  20  23  26  29

In [ ]:
'''
Question 3 - 
Take an input from user for start and end values.
Print all even numbers between them. (start and end included)

INPUT - 
3
7

OUTPUT - 4 6
'''

In [ ]:
# 1 get the 2 inputs ✅
# 2 print the range of nums between the 2 inputs  ✅
# 3put a condition before print, to check if start is even

In [15]:
start = int(input())
end = int(input())

while start<=end:
    if start %2==0:
        print(start)
    start = start+1

3
7
4
6

In [16]:
start = int(input())
end = int(input())
loop_count = 0
while start<=end:
    loop_count += 1
    if start %2==0:
        print(start)
    start = start+1
print('The loop ran for:', loop_count)

5
20
6
8
10
12
14
16
18
20
The loop ran for: 16

In [18]:
start = int(input())
end = int(input())

if start%2==0: # start is even
    i = start
else: # start is odd
    i = start + 1

loop_count = 0
while i<=end:
    loop_count += 1
    print(i)
    i = i+2

print('The loop ran for:', loop_count)

5
20
6
8
10
12
14
16
18
20
The loop ran for: 8

In [17]:
start = int(input())
end = int(input())

if start%2==0: # start is even
    i = start
else: # start is odd
    i = start + 1

while i<=end:
    print(i)
    i = i+2

5
20
6
8
10
12
14
16
18
20

In [ ]:
'''
Question 4 - 
You are a bowler and you have to bowl 1 over. (6 balls)
"Bowling ball number - ball_number"
'''
'''
Bowling ball number - 1
Bowling ball number - 2
Bowling ball number - 3
Bowling ball number - 4
Bowling ball number - 5
Bowling ball number - 6
'''

In [21]:
ball_number = 1
while ball_number<=6:
    print('Bowling ball number -', ball_number)
    ball_number +=1

Bowling ball number - 1
Bowling ball number - 2
Bowling ball number - 3
Bowling ball number - 4
Bowling ball number - 5
Bowling ball number - 6

In [ ]:
'''
Question 5 -
Take a number input from user.
Print its multiplication table till 10th multiple.

INPUT - 7
OUTPUT - 7 14 21 28 35 42 49 56 63 70
'''

In [22]:
num = int(input())

# 2*1 =2
# 2*2 = 4
# 2*3 =6

start = 1
while start<=10:
    print(num*start)
    start = start+1

7
7
14
21
28
35
42
49
56
63
70

In [ ]:
'''
Question 6 - 
Password is 567

Write a loop in python which runs from 0 to 999 and prints the password after finding it.
Print - "Trying <number>" for every number
Print - "Password found - number" when password is found
'''

In [24]:
password =  12 # assume you don't know this

i = 0
while i<=999:
    print('Trying', i)
    if i==password:
        print('Password found -', i)
        break
    i+=1

Trying 0
Trying 1
Trying 2
Trying 3
Trying 4
Trying 5
Trying 6
Trying 7
Trying 8
Trying 9
Trying 10
Trying 11
Trying 12
Password found - 12

In [ ]:
'''
Question 7 - 
1. Take an integer input from user. This is the number of test cases. (count)
2. Take int for each count from the user.
3. Print multiplication table of that integer.


INPUT - 3

OUTPUT - 
Please input number 1 - 2
Multiplication table - 2 4 6 8 10 12 14 16 18 20

Plese input number 2 - 1
Multiplication table - 1 2 3 4 5 6 7 8 9 10

Please input number 3 - 5
Multiplication table - 5 10 15 20 25 30 35 40 45 50
'''
'''
num = int(input())

start = 1
while start<=10:
    print(num*start)
    start = start+1
'''

In [1]:
test_case_total = int(input("How many test cases you want to run: "))
test_case_count = 1
while test_case_count<=test_case_total:
    # run the logic for multiplication tables that we wrote earlier
    num = int(input())

    start = 1
    while start<=10:
        print(num*start)
        start = start+1
    #the logic ends

    print()
    print()
    test_case_count+=1

How many test cases you want to run: 3
2
2
4
6
8
10
12
14
16
18
20


5
5
10
15
20
25
30
35
40
45
50


6
6
12
18
24
30
36
42
48
54
60

In [2]:
test_case_total = int(input("How many test cases you want to run: "))
test_case_count = 1
while test_case_count<=test_case_total:
    # run the logic for multiplication tables that we wrote earlier
    num = int(input("Please input number "))

    start = 1
    while start<=10:
        print(num*start, end=" ")
        start = start+1
    #the logic ends

    print()
    print()
    test_case_count+=1

How many test cases you want to run: 3
Please input number 2
2 4 6 8 10 12 14 16 18 20

Please input number 5
5 10 15 20 25 30 35 40 45 50

Please input number 7
7 14 21 28 35 42 49 56 63 70