<a href="https://colab.research.google.com/gist/singhsidhukuldeep/19a96f869fb86fd981d59e5e4e2ad69e/-beginner-data-types-20-april-2023-9pm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('Welcome to Python')

Welcome to Python

In [3]:
# üëç >> dark
# üëé >> light

In [4]:
print("hey look I am printing something")
print('this will be on a single line')
print('using shift+enter to run my code')

hey look I am printing something
this will be on a single line
using shift+enter to run my code

In [11]:
print('using shift+enter 
to run my code')

SyntaxError: ignored

In [12]:
print('''using shift+enter 
to run my code''')

using shift+enter
to run my code

In [5]:
print('''I 
wanted my output on multiple lines''')

I
wanted my output on multiple lines

In [6]:
print("""Still I 
wanted my output on multiple lines""")

Still I
wanted my output on multiple lines

In [ ]:
# print('what is this?")
# ‚ùå error>> quotes mis-match

In [7]:
print('hi')
print("hi")

hi
hi

In [ ]:
# Print('hi')
# ‚ùå error>> python is case sensitive>> p!=P
# print‚úÖ
# Print ‚ùå

In [8]:
print("üëâ python is platform independent")

üëâ python is platform independent

In [9]:
# print{"hi"}
# ‚ùå error>> python is precisely typed>> ()!=[]!={}
# print()‚úÖ
# print[]‚ùå
# print{}‚ùå

In [10]:
print('hi')
print              ('hi') # try not doing this

hi
hi

In [ ]:
# how to comment code
# select the lines of the code and press ctrl+/

In [ ]:
# you can use ' OR " interchangebly in python wherever you want
# just remember to use the same for opening and closing

# if you want your output on multiple lines, you should use either 1Ô∏è‚É£ """--""" 2Ô∏è‚É£'''--'''

In [ ]:
### üôÇ RECAP ENDS HERE üôÇ###

In [ ]:
# Data types [primtive Data Structures]

In [28]:
print('1Ô∏è‚É£ str (string)')
print("hi")
# anything inside '--' OR "--" OR """---"""" OR '''--'''
print('this is a str')
print('Koramangala, Bangalore, Karnataka, India')

print('!@#$%^&*()_+=-\][{}|')
print("5")
print("7")
print("5"+"7")
print("Ronaldo" + "CR7")
print("")
print('a')

1Ô∏è‚É£ str (string)
hi
this is a str
Koramangala, Bangalore, Karnataka, India
!@#$%^&*()_+=-\][{}|
5
7
57
RonaldoCR7

a

In [17]:
print('2Ô∏è‚É£ int (integer)')
print(5)
print(10)
print(0)
print(-10)
print(5+7)

2Ô∏è‚É£ int (integer)
5
10
0
-10
12

In [22]:
print("3Ô∏è‚É£ float (decimal)")
print(100000000.99)
print(100000000.99+ 200000)
print(2.0)
print(0.0)

3Ô∏è‚É£ float (decimal)
100000000.99
100200000.99
2.0
0.0

In [24]:
print("4Ô∏è‚É£ bool (boolean)")
print(True)
print(False)
print("üëâ T in True is capital and F in False is capital")

4Ô∏è‚É£ bool (boolean)
True
False
üëâ T in True is capital and F in False is capital

In [26]:
print("5Ô∏è‚É£ None (nothing)")
print(None)
print("üëâ N in None is capital")

5Ô∏è‚É£ None (nothing)
None
üëâ N in None is capital

In [29]:
## Questions
print(50) # int
print("55") # str
print('True') # str
print(False) # bool
print(-0.0) # float

50
55
True
False
-0.0

In [30]:
### üòé EXPRESSIONS AND VARIABLES üòé ###

In [32]:
x= 5
print(x)

5

In [34]:
y = 10
print(y)

10

In [35]:
a=x+y
print(a)

15

In [ ]:
# few rules to name your varaiable
# üëâ your varaible name cannot have space
# üëâ your varaiable name cannot start with a number
# üëâ your varaiable name cannot be a python keyword
# üëâüëâüëâ _, a-z, A-Z, 0-9
# üëâ DO NOT CREATE VARIABLE NAMES OF SOMETHING IN-BUILT EG  print, input, type

In [39]:
# üëâ your varaiable name cannot start with a number but can have a number in between OR end
x2y = 100
print(x2y)
x2y1 = 100123
print(x2y1)

100
100123

In [38]:
# üëâ your varaiable name cannot start with a number
# 1x2y = 100
# print(1x2y)
# 1xy = 100
# print(1xy)

In [40]:
# python keywords
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               break               for                 not
None                class               from                or
True                continue            global              pass
__peg_parser__      def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield

In [43]:
age = 38
nameOfBestPlayer = "Cristiano Ronaldo"
height = 1.89
isHeBetterThanMessi = True
print(age)
print(nameOfBestPlayer)
print(height)
print(isHeBetterThanMessi)

38
Cristiano Ronaldo
1.89
True

In [47]:
print(type(38))
print(type(age))

<class 'int'>
<class 'int'>

In [48]:
print(38, "Cristiano Ronaldo", 1.89, True)
print(age, nameOfBestPlayer, height, isHeBetterThanMessi)
print(type(age), type(nameOfBestPlayer), type(height), type(isHeBetterThanMessi))

38 Cristiano Ronaldo 1.89 True
38 Cristiano Ronaldo 1.89 True
<class 'int'> <class 'str'> <class 'float'> <class 'bool'>

In [42]:
nothing = None
print(nothing)

None

In [45]:
_____Vaishakh_like_underscores = "_"
print(_____Vaishakh_like_underscores)

_

In [51]:
# always give multiple things seperated by ,
print(38, "Cristiano Ronaldo", 1.89, True)

38 Cristiano Ronaldo 1.89 True

In [52]:
print(38, "Cristiano Ronaldo", 1.89, True, sep=" - - ")

38 - - Cristiano Ronaldo - - 1.89 - - True

In [53]:
print(38, "Cristiano Ronaldo", 1.89, True, sep="")

38Cristiano Ronaldo1.89True

In [54]:
print('In python anything that take input inside () at the end is a function')
print('print is a function')
print('type is a function')

In python anything that take input inside () at the end is a function
print is a function
type is a function

In [55]:
# "\n"
print(38, "Cristiano Ronaldo", 1.89, True, sep="\n")

38
Cristiano Ronaldo
1.89
True

In [60]:
print(38, "CR", 1.89, True, end="this is the end \n") 
print(38, "CR", 1.89, True, sep = "===", end="<><><>") 
print(38, "CR", 1.89, True, sep=" - - ") 

# give sep to tell what the seperation will be for the print output of 
# multiple values given to a single print funtion

# end will tell, what will happen after printing all the inputs

# üëø print(1,2,3,sep, end) 
# 1sep2sep3end

38 CR 1.89 Truethis is the end
38===CR===1.89===True<><><>38 - - CR - - 1.89 - - True

In [63]:
# ü•± get input from the user
# to get input from the user we will be using the üëâ input function
inputFromTheUserIs = input()

What did you expect me to say here?

In [64]:
print(inputFromTheUserIs)

What did you expect me to say here?

In [65]:
age = input("What is your age: ")
print("The users age is", age)

What is your age: 26
The users age is 26

In [68]:
# it's not stored as 26, it is stored as "26"
print(type(age))
# print(age+1) # it is my birthdayü•≥ today, how old am i?
nextAge = int(age) + 1
print(nextAge)

<class 'str'>
27

In [ ]:
# üëâüëâüëâ input function stores everything as a str, always

In [69]:
#### Q1: Ask the user for their weight in kg, print their weight in grams
# eg if they enter 80, print 80000

wt_kg = input("What is your weight in kg: ")
print(wt_kg, type(wt_kg))
wt_kg = int(wt_kg)
print(wt_kg, type(wt_kg))
print('Your weight in grams is', wt_kg*1000)

What is your weight in kg: 80
80 <class 'str'>
80 <class 'int'>
Your weight in grams is 80000

In [71]:
wt_kg = input("What is your weight in kg: ")
print(wt_kg, type(wt_kg))
wt_kg = float(wt_kg)
print(wt_kg, type(wt_kg))
print('Your weight in grams is', wt_kg*1000)

What is your weight in kg: 80
80 <class 'str'>
80.0 <class 'float'>
Your weight in grams is 80000.0

In [72]:
wt_kg = int(input("What is your weight in kg: "))
print('Your weight in grams is', wt_kg*1000)

What is your weight in kg: 80
Your weight in grams is 80000

In [74]:
# ask the user for 2 integer numbers
# give me the average of the 2 numbers entered

first = int(input('Enter the first integer: '))
second = int(input('Enter the second integer: '))

print(first,second)

total = first+second

print(total)

print('The average is:', total/2)
print('The average as an int is:', int(total/2))

Enter the first integer: 4
Enter the second integer: 6
4 6
10
The average is: 5.0
The average as an int is: 5

In [ ]:
# division in python always gives float
# + > gives float if atleast one of them is a float eg 2+1(int), 2.5+1(float), 2.9+1.1(float)
# same for * and -