<a href="https://colab.research.google.com/gist/singhsidhukuldeep/304380ee28ef1c10de32d6093bd4c0c9/nested-loops-jump-statements-saturday-may-13-2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def solution(A,B):
    ans = A+B
    return ans

In [ ]:
# loops
    # while
    # for

In [1]:
choice='y'
while choice=='y':
    print('Bought MILK')
    choice = input("do you want to buy milk (was the quality fine): ")

Bought MILK
do you want to buy milk (was the quality fine): y
Bought MILK
do you want to buy milk (was the quality fine): y
Bought MILK
do you want to buy milk (was the quality fine): n

In [ ]:
## jump statements
# pass
# continue
# break

# Thses are not function as we do not see any ()
# all 3 are keywords

In [2]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [3]:
for i in range(5):
    if i%2==0:
        pass # pass does absolutely NOTHING
    print('Running loop for ', i)

Running loop for  0
Running loop for  1
Running loop for  2
Running loop for  3
Running loop for  4

In [7]:
print('üèÉ‚Äç‚ôÇÔ∏èüí®')
for i in range(5):
    pass
print('üëü')

üèÉ‚Äç‚ôÇÔ∏èüí®
üëü

In [5]:
for i in range(5):
    if i%2==0:
        # this is a comment, and sadly python ignores comments, so expect ERROR
    print('Running loop for ', i)

IndentationError: ignored

In [8]:
print('üèÉ‚Äç‚ôÇÔ∏èüí®')

pass

print('üëü')

üèÉ‚Äç‚ôÇÔ∏èüí®
üëü

In [9]:
for i in range(5):
    print('start loop for ', i)
    if i%2==0:
        continue # skip only this iteration, directly go to the next one
    print('end loop for ', i)

start loop for  0
start loop for  1
end loop for  1
start loop for  2
start loop for  3
end loop for  3
start loop for  4

In [10]:
continue

SyntaxError: ignored

In [11]:
for i in range(1,5):
    if i%2==0:
        break # stop this iteration and don't do any iteration after this
    print('Running loop for ', i)

Running loop for  1

In [12]:
break

SyntaxError: ignored

In [13]:
'''
Question 1 - 
Write a loop to excatly print the following numbers -> 1,4,7,10,13,16
'''
print('1,4,7,10,13,16')

1,4,7,10,13,16

In [16]:
for i in range(1,17,3):
    print(i, end=",")

1,4,7,10,13,16,

In [17]:
for i in range(1,17,3):
    if i!=16:
        print(i, end=",")
    else:
        print(i, end="")

1,4,7,10,13,16

In [ ]:
'''
Question 2 - 
Write a loop to print the following numbers - 
1,1,3,7,13,21,31,43 (formatting doesnot matter)
'''
'''
HINT:
0,2,4,6,8,10,12 [Differences]
'''

In [19]:
number = 1
i = 0

while number<=43:
    print(number)
    number = number+i*2
    i+=1

1
1
3
7
13
21
31
43

In [22]:
number = 1

for i in range(0,100,2):
    print(number)
    number = number+i
    if number>43:
        break

1
1
3
7
13
21
31
43

In [21]:
number = 1

for i in range(0,13,2):
    print(number)
    number = number+i
print(number)

1
1
3
7
13
21
31
43

In [ ]:
'''
Question 3 -
Write a program that continuously asks the user to provide an input number.
The program should stop only when the user provides 5.
Once the user provides 5. 
The program should print the number of times an input was provided.
Assume that user always provides a number!
'''

In [25]:
userEnterd = 0
count = 0
while userEnterd!=5:
    count+=1
    userEnterd = int(input('Enter an integer: '))
print('this loop ran for : ', count)

Enter an integer: 1
Enter an integer: 4
Enter an integer: 6
Enter an integer: 3
Enter an integer: 7
Enter an integer: 8
Enter an integer: 9
Enter an integer: 22
Enter an integer: 100
Enter an integer: 4
Enter an integer: 7
Enter an integer: 8
Enter an integer: 6
Enter an integer: 5
this loop ran for :  14

In [27]:
for i in range(3):
    print("Do something", i)

Do something 0
Do something 1
Do something 2

In [26]:
for i in range(3):
    for j in range(4):
        print(i,j)

0 0
0 1
0 2
0 3
1 0
1 1
1 2
1 3
2 0
2 1
2 2
2 3

In [ ]:
'''
Question 4 - 
Write a program to print NxN matrix of "*"

Input - 4

Output - 
****
****
****
****
'''

'''
5
* * * * * 
* * * * * 
* * * * * 
* * * * * 
* * * * * 
'''

In [35]:
n = int(input())
# how do run the code for a single line multiple times
for lineNum in range(n):
    for i in range(n): # code for a single line
        print('*', end=" ")
    print()

10
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [30]:
n = 4
# how do I print a single line
for i in range(4):
    print('*', end=" ")

* * * *

In [32]:
# how do run the code for a single line multiple times
for lineNum in range(n):
    for i in range(n): # code for a single line
        print('*', end=" ")
    print()

* * * *
* * * *
* * * *
* * * *

In [ ]:
'''
Question 5 - 
Write a program to print a multiplication table till an input N.

Input - 3

Output - 
1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
'''

In [41]:
n = int(input())
for num in range(1,n+1):
    for i in range(1,11):
        print(i*num, end = " ")
    print()

5
1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50

In [39]:
# get multiplication table for a single num
num = 4
for i in range(1,11):
    print(i*num, end = " ")

4 8 12 16 20 24 28 32 36 40

In [ ]:
# GCD/HCF

# 24 >> 1,2,3,4,6,8,12,24
# 16 >> 1,2,4,8,16
# GCD(24 and 16) >> 8 (largest common factor)

## GCD is never-ever greater than the smallest number
## smallest number....i...1>> a%i==0 and b%i==0

In [ ]:
'''
Question 6 -
GCD ->
Given two integer inputs, write a program to calculate GCD.

Input - 16 24
Output - 8
'''

In [43]:
A = int(input())
B = int(input())

# find the minimum
if A<B:
    minVal = A
else:
    minVal = B

# loop >> ## smallest number(minVal)....i...1
for i in range(minVal, 0, -1):
    if A%i==0 and B%i==0:
        print("GCD is", i)
        break

17
11
GCD is 1

In [ ]:
>>6 >> 6, ,12, 18, 24, 30,...
>>8 >>8, 16, 24,32,...
LCM>> smalles common multiple >> 24
a*b

In [ ]:
'''
Question 7 (HOMEWORK) - 
LCM ->
Given two integer inputs, write a program to calculate the LCM.

Input - 6 8
Output - 24
'''